[*]
charset = utf-8
insert_final_newline = true


[*.java]
indent_size = 2
indent_style = space
max_line_length = 80
trim_trailing_whitespace = true
ij_any_else_on_new_line = true
ij_any_catch_on_new_line = true


[*.{kt, kts}]
indent_size = 2
indent_style = space
max_line_length = 80
trim_trailing_whitespace = true
